body{
  background-color:#3FAB3A;}

h1,p {
  text-align:center;
  color:white;
}

.container{
  display:flex;
  background-color:white;
  width: 1042px;
  margin:20px auto;
  content:center;
}

.container div{
  background-color:black;
  margin: 10px;
  padding: 20px;
  font-size:24px;
  content:center;
  }

footer{
  background-color:black;
  color:white;
  text-align:center;
  padding:2rem;
  margin-top:2rem;
  }

.social a{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color:#ffffff;
  color:rgb(0, 0, 0);
  border-radius: 50%;
  text-decoration:none;
  margin: 0 1rem;
  font-size:1.2rem;
  }
